<footer>
  <div class="f-info border-up">
    <div>&copy; 2024 WanderLust. All rights reserved.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/contact">Company Details</a>
    </div>
    <div class="f-info-socials d-flex">
      <div class="country">
        <i class="fa-solid fa-globe"></i>
        <span>ENGLISH(IN)</span>
      </div>
      <div class="currency">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <span>INR</span>
      </div>
      <div class="socials-icons">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
      </div>
    </div>
  </div>
</footer>
